body {
    height: 100vh;
    font-family: Poppins, serif;
    background-color: lightgray;
}

.container {
    margin: 5% auto;
    width: 355px;
    border-radius: 20px 20px 100px 20px;
    background-color: white;
}

.cont-2 {
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.top-font-style {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: gray;
}

input {
    width: 100px;
    height: 45px;
    font-weight: bold;
    padding: 15px;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-font-style {
    font-size: 0.5rem;
    font-weight: 900;
    color: green;
}


.border-div {
    margin: 34px auto;
    height: 2px;
    background-color: lightgrey;
    z-index: 0;
}

.image-div {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: hsl(259, 100%, 65%);
    z-index: 2;
}

button {
    display: flex;
    margin: auto;
    background-color: hsl(259, 100%, 65%);
    border: none;
    outline: none;
}

img {
    margin: auto;
    width: 30px;
    height: 30px;
    border: none;
}

#for-hover-id:hover * {
    background-color: black;
}



.result {
    font-size: 3rem;
    font-weight: 900;
}

.purple {
    color: hsl(259, 100%, 65%);
    margin-right: 20px;
    letter-spacing: 5px;
}

.attribution {
    margin-top: 10px;
    font-size: 0.7rem;
}

@media screen and (min-width: 768px) {

    .container {
        width: 500px;
    }

    .image-div {
        margin: 20px 0 0 auto !important;
    }

}